body {
  font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  color: white;
}

header {
  background-color: rgb(49, 97, 224);
  min-height: 100px;
}

section {
  width: 70%;
  margin: auto;
}

img {
  max-width: 100%;
}

ul > a {
  padding-left: 10px;
  color: white;
  text-decoration: none;
  font-size: 0.8rem;
}

button {
  border-radius: 30px;
  padding: 5px 15px;
  border: none;
}

.flex {
  display: flex;
}

.main-secion {
  padding: 2rem 0;
}

.header-section {
  height: 100px;
  justify-content: space-between;
  align-items: center;
}

.div-header {
  padding: 5px;
  font-size: larger;
}

.logo,
.login {
  width: 25%;
}

.link {
  width: 50%;
  text-align: center;
}

.login {
  text-align: end;
}

h1 {
  font-size: 2.5rem;
}

p {
  font-size: 1.5rem;
}

.bluebkg {
  background-image: url(../img/jumbo.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(0, 0, 139);
  min-height: 500px;
}

.single-box {
  min-height: 400px;
  text-align: center;
  width: 40%;
  margin: auto;
  line-height: 25px;
  font-size: large;
}

.start-button {
  margin: 50px;
}

.big-button {
  padding: 15px;
  margin: 10px;
  font-size: large;
}

.black-button {
  background-color: black;
  color: white;
}

.column-div {
  min-height: 500px;
}

.big-col {
  min-height: 400px;
  width: 65%;
}

.small-col {
  min-height: 400px;
  width: 35%;
  color: black;
}

.graybkg {
  background-color: rgb(246, 246, 246);
}

.big-box {
  background-color: rgb(246, 246, 246);
}

.green-box {
  padding-bottom: 50px;
  height: 90%;
  text-align: center;
  color: #23272a;
}

.blue-button {
  background-color: rgb(142, 161, 225);
  color: white;
}

.blackbkg1 {
  background-color: #23272a;
  min-height: 500px;
}

.pink-col {
  min-height: 450px;
  width: 30%;
  margin-top: -10px;
  background-color: rgb(240, 128, 128);
  border: dotted black 2px;
}

.blue-col {
  min-height: 450px;
  width: 70%;
  margin-top: -10px;
  background-color: rgb(32, 178, 170);
  border: dotted black 2px;
}

.little-col {
  height: 100%;
  width: 25%;
  border: dotted white 2px;
}

.blackbkg2 {
  background-color: #23272a;
  margin-top: 1px;
  padding-top: 10px;
  align-items: flex-end;
}

.footersection {
  background-color: aquamarine;
  height: 80px;
  justify-content: space-between;
  align-items: center;
}

.footerdiv {
  background-color: #ffb6c1;
  padding: 10px;
  border: dotted black;
}
